<% if @categories.any? %>
  <table>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Details</th>
      <th>Due Date</th>
      <th>Category Name</th>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
      <% break if category.id == nil%>
        <% category.tasks.each do |task| %>
          <% if task.due_date == Date.today %>
            <tr>
              <td><%= task.id %></td>
              <td><%= task.name %></td>
              <td><%= task.details %></td>
              <td><%= task.due_date %></td>
              <td style="color: <%=category.color%>;"><%= category.name %></td>
              <td><%= button_to 'Show', category_task_path(category, task), :method => "get"%></td>
              <td><%= button_to 'Edit', edit_category_task_path(category, task), :method => "get"%></td>
              <td><%= button_to 'Delete', category_task_path(category, task), :method => "delete"%></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>No tasks for today! Take a break!</h3>
<% end %>