<% if @daily_tasks.any? %>
  <h3 class="<%=sub_header%>">Today's Tasks</h3>
  <% @daily_tasks.each do |task| %>
  <% break if task.id == nil%>
    <div class="<%= category_container %>">
      <div class="<%= flex_row_container %>">
        <div class="flex flex-row gap-[0.25rem]">
          <pre style="background-color: <%=task.category.color%>5A;"> </pre>
          <p class="<%= emphasis %>"><%= task.name %></p>
        </div>
        <p><%= task.due_date %></p>
      </div>
      <p><%= task.details %></p>
      <div class="<%= button_container %>">
        <%= button_to 'Show', category_task_path(task.category, task), :method => "get", :class=> primary_button %>
        <%= button_to 'Edit', edit_category_task_path(task.category, task), :method => "get", :class=> secondary_button %>
        <%= button_to 'Delete', category_task_path(task.category, task), :method => "delete", :class=> delete_button %>
      </div>
    </div>
  <% end %>
<% else %>
  <h3>No tasks for today! Take a break!</h3>
<% end %>