<h3 class="<%= sub_header %>">New Task</h3>
<%= form_with model: [category, category.tasks.build], html: {class: "#{category_container}" }, local: true do |f| %>
  <p>
    <%= f.label :name %> <br/>
    <%= f.text_field :name, :class => form_field %>
  </p>

  <p>
    <%= f.label :details %> <br/>
    <%= f.textarea :details, :class => form_field %>
  </p>

  <p>
    <%= f.label :due_date %> <br/>
    <%= f.date_field :due_date, :class => form_field %>
  </p>

  <p>
    <%= f.submit 'Create Task', :class => primary_button %> 
  </p>
<% end %>