<div class="<%= flex_col_container %>">
<%= form_with model: [@category, @task], html: {class: "#{category_container}" }, url: update_category_task_path, local: true do |f| %>
  <p>
    <%= f.label :name %> <br/>
    <%= f.text_field :name, :class => form_field %>
  </p>

  <p>
    <%= f.label :details %> <br/>
    <%= f.textarea :details, :class => form_field %>
  </p>

  <p>
    <%= f.label :due_date %> <br/>
    <%= f.date_field :due_date, :class => form_field %>
  </p>

  <p>
    <%= f.submit 'Edit Task', :class => primary_button %> 
  </p>
<% end %>

<%= button_to 'Back', category_path(@category), :method => "get", :class => secondary_button %>
</div>