<div class="<%= flex_col_container %>">
<%= render 'shared/dashboard' %>
<div class="<%= category_container %>">
  <div class="<%= flex_row_container %>">
    <div class="flex flex-row gap-[0.25rem]">
      <pre style="background-color: <%=@task.category.color%>5A;"> </pre>
      <p class="<%= emphasis %>"><%= @task.name %></p>
    </div>
    <p><%= @task.due_date %></p>
  </div>
  <p><%= @task.details %></p>
</div>

<%= button_to 'Back', category_path(@category), :method => "get", :class => secondary_button %>
</div>