<% if @categories.any? %>
  <h3 class="<%=sub_header%>">Categories</h3>
  <% @categories.each do |category| %>
    <div class="<%= category_container %>">
      <p class="<%= emphasis %>" style="background-color: <%=category.color%>5A;"><%= category.name %></p>
      <p><%= category.details %></p>
      <p>Task Count : < <%= category.tasks.count %> ></p>
      <div class="<%= button_container %>">
        <%= button_to 'Show', category_path(category.id), :method => "get", :class => primary_button%>
        <%= button_to 'Edit', edit_category_path(category.id), :method => "get", :class => secondary_button%>
        <%= button_to 'Delete', category_path(category.id), :method => "delete", :class => delete_button%>
      </div>
    </div>
  <% end %>
<% else %>
  <h3 class="<%=sub_header%>">No categories to display</h3>
<% end %>