<div class="<%= flex_col_container %>">
  <%= render 'shared/dashboard' %>
  <%= render 'tasks/daily_tasks' %>
  <%= render 'categories/categories_index' %>
  <%= button_to 'New Category', new_category_path, :method => "get", :class => secondary_button %>
</div>