<div class="<%= flex_col_container %>">
<%= form_with scope: :category, html: {class: "#{category_container}" }, url: create_category_path, local: true do |f| %>
  <p>
    <%= f.label :name %> <br/>
    <%= f.text_field :name, :class => form_field %>
  </p>

  <p>
    <%= f.label :details %> <br/>
    <%= f.text_field :details, :class => form_field %>
  </p>

  <p>
    <%= f.label :color %> <br/>
    <%= f.color_field :color %>
  </p>

  <p class="<%=button_container%>">
    <%= f.submit 'Create Category', :class => primary_button %>
  </p>
<% end %>

<%= button_to 'Back', categories_path, :method => "get", :class => secondary_button %>
</div>