<div class="<%= flex_col_container %>">
  <%= render 'shared/dashboard' %>
  <div class="<%= category_container %>">
    <p style="background-color: <%=@category.color%>5A;"><%= @category.name %></p>
    <p><%= @category.details %></p>
    <p>Task Count : < <%= @category.tasks.count %> ></p>
  </div>

  <h1 class="<%= sub_header %>">Tasks</h1>
  <%= render 'tasks/tasks_index', category: @category %>

  <%= button_to 'Back', categories_path, :method => "get", :class => secondary_button %>
</div>