<%= render 'shared/dashboard' %>
<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Details</th>
    <th>Task Count</th>
    <th>Color</th>
  </thead>
  <tbody>
      <tr>
        <td><%= @category.id %></td>
        <td><%= @category.name %></td>
        <td style="color: <%= @category.color%>;"><%= @category.details %></td>
        <td><%= @category.tasks.count %></td>
        <td><%= @category.color %></td>
      </tr>
  </tbody>
</table>

<%= button_to 'Back to Home', categories_path, :method => "get"%>